<ion-app>
  <ion-menu auto-hide="true" contentId="main-content" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/dashboard">
            <ion-icon name="grid" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/product">
            <ion-icon name="bag-outline" slot="start"></ion-icon>
            <ion-label>Produk</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/transaksi">
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        
        <ion-menu-toggle>
          <ion-item routerLink="/profil">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profil</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="pengaturan">
        <ion-icon name="home"></ion-icon>
        <ion-label>Pengaturan</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tentangaplikasi">
        <ion-icon name="information"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="logout">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>