<ion-app>
  <ion-menu auto-hide="true" contentId="main-content" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/pengaturan">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Pengaturan</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tentangaplikasi">
            <ion-icon name="information" slot="start"></ion-icon>
            <ion-label>Tentang Aplikasi</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/logout">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="grid"></ion-icon>
        <ion-label>Dasboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="product">
        <ion-icon name="bag-outline"></ion-icon>
        <ion-label>Product</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Transaksi">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Transaksi</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Profil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>