<ion-header [translucent]="true">
  <ion-toolbar color="primary">
       <ion-buttons slot="start">
  <ion-back-button defaultHref="/pengaturan"></ion-back-button>
</ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar
    placeholder="Cari Produk..."
    [(ngModel)]="searchTerm"
    (ionInput)="filterProducts()">
  </ion-searchbar>

  <ion-row *ngFor="let products2 of chunkArray(filterProduk, 2); let i = index">
    <ion-col *ngFor="let product of products2; let i2 = index">
      <ion-list>
        <ion-item>
        </ion-item>

        <ion-item routerLink="/detailproduk/{{(i*2)+i2}}">
          {{product.name}}
        </ion-item>

        <ion-button routerLink="/editproduk/{{(i*2)+i2}}" color="secondary">
          Edit
        </ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>