<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-item>
    <ion-text>Jumlah Produk : {{ jumlahProduk }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-text> Total transaksi hari ini : {{ totalTransaksiHariIni }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-text>Produk terlaris : {{ produkTerlaris }}</ion-text>
  </ion-item>
</ion-content>